* {
    margin: 0;
}

body {
    /* By Symode09 - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=2064271 */
    background: url(./Tic_tac_toe.svg) center ;
}

.players {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container {
    text-align: center;
    height: 300px;
    width: 50%;
    background: transparent;
    display: block;
    margin: auto;
    padding: 50px;
}

.cell-grid {
    border: 1px solid black;
    /* background: orange; */
    width: 50%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-content: space-evenly;
    align-items: center;
    font-size: 2em;
    margin: auto;
}

button {
    height: 100%;
    border: 1px solid black;
    /* border: 1px solid orange; */
    font-size: 35px;
    font-weight: bold;
}

.player {
    text-align: center;
    font-size: 20px;
}

.pawns-choice {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.tic, .tac {
    background: black;
    color: white;
    width: 50px;
    display: block;
    text-align: center;
    cursor: pointer;
}
